<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/rasponsiv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
 <!-- header -->

  <header>
    <div class="header-container">
     <div class="big-container">
         <div class="container-nav ">
           <div class="nav-logo">
                  <h1> <span>IN</span>BUSINESS</h1>
                  <div >
             <a href="../Components/sign-in.html">  <span><img src="../img/open.svg" alt=""></span></a>
                  
               <span class="ms-4 bars"  ><img src="../img/bars.svg" alt=""></span>
 
                  </div>
           </div>
           <nav class="mav-bar">
             <ul class="manu-ul">
                <li><a href="../index.html" class="menu-list">Ищу инвестора</a></li>
                <li><a href="../Components/index1.html" class="menu-list">Ищу хороший проект</a></li>
                <li><a href="../Components/index2.html" class="menu-list">Франшиза</a></li>
                <li><a href="../Components/index4.html" class="menu-list">Готовый бизнес</a></li>
                <li><a href="../Components/index5.html" class="menu-list">Бизнес тусы</a></li>
                <li><a href="../Components/index3.html" class="menu-list">Консультации</a></li>
             </ul>
        
           </nav>   
           <div class="select-language">
             <select class="">
                 <option value="1">Уз</option>
                 <option value="2">Рус</option>
               </select>
         </div>
             <div class="icons">
                 <a href=""><img src="../img/facebook.svg" alt=""></a>
                 <a href=""><img src="../img/instagram.svg"alt=""></a>
                 <a href=""><img src="../img/telegram.svg" alt=""></a>
             </div>
           </div>
 
     </div>
 </div>
  </header>
  <section>
   <div class="big-container">
     <div class="inbusinness">
       <h1 class="p-0 m-0"> <span>IN</span>BUSINESS</h1>
       <div class="inbusinness-input">
         <div class="form-control-input">
         <input type="text" class="form-control" placeholder="поиск">
         <span><img src="../img/search.svg" alt=""></span>
       </div>
          <div class="d-flex flex-column formss text-center">
            <a href="../Components/sign-in.html" class="input-btns"><span><img  src="../img/open.svg" alt=""></span></a>
            <p class="pp">Вход</p>
          </div>
         <div class="formss ms-3">
          <a href="../Components/sign-up.html" class="input-btns "><span class="mt-2"><img src="../img/user.svg" alt=""></span><a>
            <p class="pp"></p>
            <p class="pp">Регистрация</p>
         </div>
       </div>
       <div class="btns-prakat">
          <a href="../Components/davabit-project.html"   class=" btns-prakat-in">Добавить проект</a >
        </div>
     </div>
   </div>
  </section>

         <div class="big-container">
            <div class="form-link">
                <a href="../index.html">
                   <span> Главная</span><span><i class="fa-solid fa-angle-right"></i></span> 
                </a>
                <a href="">
                    <span> Бизнес тусы</span><span><i class="fa-solid fa-angle-right"></i></span> 
                 </a>
            </div>
            <h1 class="mt-5 mb-1">Бизнес тусы</h1>
         </div>
         <section>
            <div class="big-container mb-5">
             <div class="frame-slider">
              <div class="frame active">
                   <div class="frame-info">
                       <h2>ПЛАТФОРМА <span>КОТОРАЯ ОБЪЕДИНЯЕТ</span> ИНВЕСТОРОВ И БИЗНЕСМЕНОВ</h2>
                       <p>КОТОРАЯ ОБЪЕДИНЯЕТ ИНВЕСТОРОВ 1</p>
                       <div class="inbusinness-btn3">
                        <a href="" class="inbusinness-btn2-in2">Подробнее</a>
                       </div>
                   </div>
                   <div class="frame-img">
                    
                   </div>
                   <div>
                      <div class="ellipse">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                      </div> 
                      <div class="ellipse">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                        <img src="../img/Ellipse 257.png" alt="a">
                      </div>   
                      
                   </div>
                   <div class="rectangle">
                           <div class="rectangle-in">
                            <img src="../img/Rectangle2573.png" alt="">
                            <img src="../img/Rectangle2571.png" alt="">
                            <img src="../img/Rectangle2572.png" alt="">
                           </div>
                   </div>
                        
                    
              </div>
              <div class="frame">
                <div class="frame-info">
                    <h2><span>ПЛАТФОРМА КОТОРАЯ</span> ОБЪЕДИНЯЕТ ИНВЕСТОРОВ И БИЗНЕСМЕНОВ</h2>
                    <p>КОТОРАЯ  ОБЪЕДИНЯЕТ ИНВЕСТОРОВ2 </p>
                    <div class="inbusinness-btn3">
                     <a href="" class="inbusinness-btn2-in2">Подробнее</a>
                    </div>
                </div>
                <div class="frame-img">
                 
                </div>
                <div>
                   <div class="ellipse">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                   </div> 
                   <div class="ellipse">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                     <img src="../img/Ellipse 257.png" alt="a">
                   </div>   
                   
                </div>
                <div class="rectangle">
                        <div class="rectangle-in">
                         <img src="../img/Rectangle2573.png" alt="">
                         <img src="../img/Rectangle2571.png" alt="">
                         <img src="../img/Rectangle2572.png" alt="">
                        </div>
                </div>
                     
                 
           </div>
          
           <div class="frame">
            <div class="frame-info">
                <h2>ПЛАТФОРМА КОТОРАЯ <span>ОБЪЕДИНЯЕТ ИНВЕСТОРОВ И</span> БИЗНЕСМЕНОВ</h2>
                <p>КОТОРАЯ ОБЪЕДИНЯЕТ ИНВЕСТОРОВ 3</p>
                <div class="inbusinness-btn3">
                 <a href="" class="inbusinness-btn2-in2">Подробнее</a>
                </div>
            </div>
            <div class="frame-img">
             
            </div>
            <div>
               <div class="ellipse">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
               </div> 
               <div class="ellipse">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
                 <img src="../img/Ellipse 257.png" alt="a">
               </div>   
               
            </div>
            <div class="rectangle">
                    <div class="rectangle-in">
                     <img src="../img/Rectangle2573.png" alt="">
                     <img src="../img/Rectangle2571.png" alt="">
                     <img src="../img/Rectangle2572.png" alt="">
                    </div>
            </div>
                 
             
          </div>
          
          
              <div class="frame-btns">
                <div onclick="goChiziq(1)" class="frame-btn active"><a href=""></a></div>
                <div onclick="goChiziq(2)" class="frame-btn"><a href=""></a></div>
                <div onclick="goChiziq(3)" class="frame-btn"><a href=""></a></div>
              </div>
          
            </div>
          
          </div>
          </section>
   <div class="big-container">
   <div class="gallery2">
   <div class="row">
     <div class="col-sm-12 col-lg-4  mt-5 starup">
        <div class="imgs ">
           <img src="../img/1.png" class="img-fluid" alt="">
           <div class="ps-3 pt-4" >
             <h4>PROFIT SCHOOL</h4>
             <p>Франшиза курсов </p>
             <p>Количество сотрудников - 12</p>
             <p>Действующий бизнес</p>
             <p>Окупаемость - 2 года </p>
             <p>Окупаемость - 2 года </p>
        
           </div>
              <div class="inbusinness-btn2">
             <a class=" inbusinness-btn2-in" href="../Components/index6.html" > Подробнее</a>
           </div>
       </div>       
     </div>
     <div class="col-sm-12 col-lg-4 starup mt-5">
       <div class="imgs">
          <img src="../img/1.png" class="img-fluid" alt="">
          <div class="ps-3 pt-4" >
            <h4>PROFIT SCHOOL</h4>
            <p>Франшиза курсов </p>
            <p>Количество сотрудников - 12</p>
            <p>Действующий бизнес</p>
            <p>Окупаемость - 2 года </p>
            <p>Окупаемость - 2 года </p>
       
          </div>
             <div class="inbusinness-btn2">
            <a class=" inbusinness-btn2-in" href="../Components/index6.html" > Подробнее</a>
          </div>
      </div>       
    </div>
    <div class="col-sm-12 col-lg-4 starup  mt-5">
     <div class="imgs">
        <img src="../img/1.png" class="img-fluid" alt="">
        <div class="ps-3 pt-4" >
          <h4>PROFIT SCHOOL</h4>
          <p>Франшиза курсов </p>
          <p>Количество сотрудников - 12</p>
          <p>Действующий бизнес</p>
          <p>Окупаемость - 2 года </p>
          <p>Окупаемость - 2 года </p>
     
        </div>
           <div class="inbusinness-btn2">
          <a class=" inbusinness-btn2-in" href="../Components/index6.html" > Подробнее</a>
        </div>
    </div>       
  </div>

  </div>
      </div>
   </div>
  </section>

 <footer>
    <div class="footer-bg-img">
      <div class="big-container  pt-5">
         <div  class="w-100 pt-5 d-flex">
          <div class="">
            <ul class="footer-list1 ">
            <li class="mb-5"> <h3> <span class="text-danger">IN</span>BUSINESS</h3></li>
             <li><p>Манзил: 100321, г. Ташкент,  ул. Муштабиб 43</p></li>
             <li><p>Телефон: +998 71 150 53 95</p></li>
             <li><p>E-mail: headoffice@inbusiness.uz</p></li>
             <li>
              <div>
                <a href=""><img src="../img/facebook.svg" alt=""></a>
                <a href=""><img src="../img/instagram.svg"alt=""></a>
                <a href=""><img src="../img/telegram.svg" alt=""></a>
              </div>
             </li>
            </ul>
            <ul>
  
            </ul>
  
          </div>
          <div class=" ps-3 w-100 d-flex">
                  <div class="row  w-100">
                    <div class="col-sm-12 col-lg-4">
                      <ul class="footer-list2">
                        <li class="mb-2"><h4>Услуги</h4></li>
                        <li><a href="">Публичная офферта</a></li>
                        <li><a href="">Инвесторы</a></li>
                        <li><a href="">Бизнес тусы</a></li>
                        <li><a href="">Ищу инвестора</a></li>
                    </ul>
                   </div>
                    <div class="col-sm-12 col-lg-4">
                      <ul class="footer-list2">
                        <li class="mb-2"><h4>Проекты</h4></li>
                        <li><a href="">Новые</a></li>
                        <li><a href="">Франшизы</a></li>
                        <li><a href="">Готовый бизнес</a></li>
                      </ul> 
                    </div>
                    <div class="col-sm-12 col-lg-4">
                       <ul class="footer-list2 footer-list3">
                           <li><h4>Консультации</h4></li>
                           <li><a href="">Юриста</a></li>
                           <li><a href="">Маркетолога</a></li>
                           <li><a href="">HR менеджера</a></li>
                           <li><a href="">Отдел продаж</a></li>
                       </ul>
                    </div>
                  </div>
          </div>
         </div>
          <div class="mt-5">
            <p>
              2022 © Barcha huquqlar himoya qilingan. Barcha xizmatlar litsenziyalangan
           </p>
          </div>
      </div>
  
    </div>
  </footer>
   
   
  
      <script src="../js/jquery-3.6.0.min.js"></script>
      <script src="../js/main.js"></script>
  </body>
  </html>