<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/rasponsiv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
  <header>
    <div class="header-container">
     <div class="big-container">
         <div class="container-nav ">
           <div class="nav-logo">
                  <h1> <span>IN</span>BUSINESS</h1>
                  <div >
             <a href="../Components/sign-in.html">  <span><img src="../img/open.svg" alt=""></span></a>
                  
               <span class="ms-4 bars"><img src="../img/bars.svg" alt=""></span>
 
                  </div>
           </div>
           <nav class="mav-bar">
             <ul class="manu-ul">
              <li><a href="../index.html" class="menu-list">Ищу инвестора</a></li>
              <li><a href="../Components/index1.html" class="menu-list">Ищу хороший проект</a></li>
              <li><a href="../Components/index2.html" class="menu-list">Франшиза</a></li>
              <li><a href="../Components/index4.html" class="menu-list">Готовый бизнес</a></li>
              <li><a href="../Components/index5.html" class="menu-list">Бизнес тусы</a></li>
              <li><a href="../Components/index3.html" class="menu-list">Консультации</a></li>
             </ul>
        
           </nav>   
           <div class="select-language">
             <select class="">
                 <option value="1">Уз</option>
                 <option value="2">Рус</option>
               </select>
         </div>
             <div class="icons">
                 <a href=""><img src="../img/facebook.svg" alt=""></a>
                 <a href=""><img src="../img/instagram.svg"alt=""></a>
                 <a href=""><img src="../img/telegram.svg" alt=""></a>
             </div>
           </div>
 
     </div>
 </div>
  </header>
  <section>
    <div class="big-container ">
      <div class="inbusinness-form ">
       
        <div class="inbusinness-input">
          <div class="form-control-input">
          <input type="text" class="form-control" placeholder="поиск">
          <span><img src="..img/search.svg" alt=""></span>
        </div>
        </div>
      </div>
    </div>
  </section>
      <section>
        <div class="big-container">
          
                    <div class="form-link">
                        <a href="../index.html">
                           <span> Главная</span><span><i class="fa-solid fa-angle-right"></i></span> 
                        </a>
                        <a href="">
                            <span> Регистрация</span><span><i class="fa-solid fa-angle-right"></i></span> 
                         </a>
                    </div>
                    <div class="row w-100">
                        <div class="col-sm-12 col-lg-6">
                           <div class="sign-inn">
                            <h3>Вход в INBUSINESS</h3>
                            <hr>
                                <form action="">
                                    <input type="text" value="" placeholder="Имя и фамилия"  class="textt">
                                  <input type="text" value="" placeholder="Адрес эл.почты"  class="textt">
                                  <input type="number" value="" placeholder="Укажите номер телефона"  class="textt">
                                  <input type="password" name=""  class="textt" id="" placeholder="Придумайте пароль" autocomplete="off">
                                  <input type="password" name=""  class="textt" id="" placeholder="Повторите пароль" autocomplete="off">
                                </form>
                                <div class="btn-form"><input type="submit" class="form-btn" value="Продолжить"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                             <div class="form-img">
                              <img src="../img/img-8.png" alt="">
                             </div>
                        </div>
                    </div>
        </div>
      </section>

      <script src="../js/jquery-3.6.0.min.js"></script>
      <script src="../js/main.js"></script>
</body>
</html>